@model NordicDoorSuggestionSystem.Models.AddSuggestionComment
@{
    Layout ="~/Views/Shared/_comment.cshtml";
    ViewBag.Title = "NSS | Kommenter";
}

<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="SuggestionID" class="form-control" />
                <span asp-validation-for="SuggestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Content" class="form-control" placeholder="Skriv inn..."></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Kommenter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}