@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Feed § NSS";
    Layout = "~/Views/Shared/_BaseNoFooterLayout.cshtml";

}

<div class="cardContainer">
    <div id="notificationBox" class="notificationBox" style="margin-top:60vh;">
        <div class="notificationTitle">
            <h1>Notifikasjoner</h1>
        </div>
        <div class="notificationContainer">
            <div class="notification">
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
            </div>
        </div>
        <button id="closeNotifiBtn" type="button"><h3>Lukk</h3></button>
    </div>
</div>

<script type="text/javascript">//get the modal and opacity view id

    var notifiModal = document.getElementById("notificationBox");
    var childHeader = document.getElementById("childHeader");
    var childFooter = document.getElementById("childFooter");
    //get the button id
    var notiBtn = document.getElementById("notificationBtn");
    var closeNotifiBtn = document.getElementById("closeNotifiBtn");

    //function for notifications view
    notiBtn.onclick = function () {
        notifiModal.style.display = "flex";
        childHeader.style.opacity = "50%";
        childFooter.style.opacity = "50%";
    }

    closeNotifiBtn.onclick = function () {
        notifiModal.style.display = "none";
        childHeader.style.opacity = "100%";
        childFooter.style.opacity = "100%";
    }</script>