@model NordicDoorSuggestionSystem.Models.Administrate.CreateTeamViewModel
@{
    Layout ="~/Views/Shared/_createteam.cshtml";
}

<br>
<div class="row">
    <h4>Lag et nytt Team!</h4>
    <div class="col-md-4" >
        <form asp-action="CreateTeam" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label">Team Navn</label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form group">
                <label asp-for="LeaderSelected" class="col-md-2">Team Leder</label>
                <div class="col-md-10">
                    <select asp-for="LeaderSelected" asp-items="@Model.LeaderList" class="form-control">
                        <option disabled selected>- Team Leder -</option>
                    </select>
                </div>
            </div>
            <div class="form group">
                <label asp-for="DepartmentSelected" class="col-md-2">Avdeling</label>
                <div class="col-md-10">
                    <select asp-for="DepartmentSelected" asp-items="@Model.DepartmentList" class="form-control">
                        <option disabled selected>- Avdeling -</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Lag Team" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}