@model NordicDoorSuggestionSystem.Models.DetailMemberViewModel

@{
    ViewData["Title"] = "DetailsMember";
}

<h1>@Html.DisplayFor(model => model.TeamName)</h1>
<div>
    <br>
    <a asp-action="Teams">Back to List</a>
</div>
<hr>

<h2>Medlemmer</h2>
<hr />

@foreach (var c in Model.EmployeeList)
{
    <div class="row">
        <div class="col-md-3">
            <i>@c.FirstName</i>
            <i> </i>
            <i>@c.LastName</i>
        </div>
    </div>
}
<hr />