@model NordicDoorSuggestionSystem.Models.Administrate.DetailDepartmentViewModel

@{
    Layout = "~/Views/Shared/_teamMedlem.cshtml";
}

<br>
<h1>@Html.DisplayFor(model => model.DepartmentName)</h1>
<hr>

<h2>Teams</h2>
<hr />

@foreach (var team in Model.TeamList)
{
    <div class="row">
        <div class="col-md-3">
            <i>@team.TeamName</i>
        </div>
    </div>
}
<hr />