@model NordicDoorSuggestionSystem.Models.TeamViewModel
@{
    Layout ="~/Views/Shared/_editteam.cshtml";
}

<br>
<div class="row">
    <h1>Endre</h1>
    <div class="col-md-4">
        <form asp-action="EditTeam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamLeader" class="control-label"></label>
                <input asp-for="TeamLeader" class="form-control" />
                <span asp-validation-for="TeamLeader" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Edit Team" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}