@{
    Layout = null;
 }
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <h1>NORDIC DOOR</h1>
        <a asp-controller="" asp-action="" class="fa fa-user-circle" aria-hidden="true"></a>
   
    <div class= "NavContainer0">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Users">Administrer brukere</a>
                <i class="" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class="NavContainer">
        <ul>
            <li class="NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Departments">Administrer Avdelinger</a>
                <i class="fa fa-user" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer1">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Teams" method="get">Administrer Teams</a>
                <i class="fa fa-user" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer2">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="AllSuggestions">Administrer alle forslag</a>
                <i class="fa fa-server" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer3">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="ShowStatisticsData">Statistikk</a>
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</body>
</html>