body{
    text-decoration: none;
    background-image: url('https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.NavContainer0{
    display: block;
    align-items: center;
    width: 370px;
    height: auto;
    border: 2px solid black;
    font-size: 23px;
    margin: 3px;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.78;
}
.NavContainer0 a, i{
    color: whitesmoke;
}
.NavContainer{
    display: block;
    align-items: center;
    width: 370px;
    height: auto;
    border: 2px solid black;
    font-size: 23px;
    margin: 3px;
    position: fixed;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.78;
}
.NavContainer a, i{
    color: whitesmoke;
}
.NavContainer1{
    display: block;
    align-items: center;
    width: 370px;
    height: auto;
    border: 2px solid black;
    font-size: 23px;
    margin: 3px;
    position: fixed;
    top: 58%;
    left: 50%;
    background-color: black;
    opacity: 0.78;
    transform: translate(-50%, -50%);
}
.NavContainer1 a, i{
    color: whitesmoke;
}
.NavContainer2{
    display: block;
    align-items: center;
    width: 370px;
    height: auto;
    border: 2px solid black;
    background-color: black;
    color: whitesmoke;
    font-size: 23px;
    margin: 3px;
    position: fixed;
    top: 72%;
    left: 50%;
    opacity: 0.78;

    transform: translate(-50%, -50%);
}
.NavContainer2 a{
    color: whitesmoke;
}
.NavContainer2 i{
    color: whitesmoke;
}
.NavContainer3{
    display: block;
    align-items: center;
    width: 370px;
    height: auto;
    border: 2px solid black;
    font-size: 23px;
    margin: 3px;
    position: fixed;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.78;
}
.NavContainer3 a, i{
    color: whitesmoke;
}
.NavContainer4{
    display: block;
    align-items: center;
    width: 445px;
    height: auto;
    border: 2px solid black;
    font-size: 23px;
    margin: 3px;
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.NavLink{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    align-items: center;
    padding: 10px;
    margin: 5px;
    color: black;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: grey;
}
i{
    float: right;
    padding-right: 28px;
}
.HomeButton{
    background-color: white;
    position: fixed;
    top: 6%;
    left: 67%;
    transform: translate(-50%, -50%);
}
.fa-home{
    font-size: 50px !important; 
    position: fixed;
    top: 6%;
    left: 85%;
    transform: translate(-50%, -50%);
}
.fa-home:hover{
    color: grey;
}
.fa-user-circle{
    font-size: 50px !important; 
    position: fixed;
    top: 6%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.fa-user-circle:hover{
    color: grey;
}
