body {
    background-color: #e4ebf7;
    font-family: Verdana;
    font-weight: 600;
}

a {
    font-size: 50px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}


.containerLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainerLogIn {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60vh;
    height: 55vh;
    border-radius: 10px;
    box-shadow: 0 8px 8px -1px #a6a6a6;
}

.LoginHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: #1C3879;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

input {
    margin: 5px;
}

.loginContent {
    margin-top: 5vh;
}

    .loginContent .form-group {
        padding: 5px;
    }

.btn-default {
    align-items: center;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    transition: 0.3s;
    margin-top: 5vh;
}

    .btn-default:active {
        background-color: #006AE8;
    }

    .btn-default:hover {
        background-color: #1C84FF;
    }

.text-danger {
    color: red;
    font-weight: lighter;
}

.control-label {
    font-size: 20px;
}

li {
    list-style-type: none;
}