/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.content {
    flex-grow: 1;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: #4c90fc;
    margin-left: 30%;
    margin-right: 30%;
    flex-direction: column;
    cursor: pointer;
}

.childHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: #1C3879;
    opacity: 100%;
}

    .childHeader li {
        list-style: none;
        display: inline-flex;
        padding: 0 100px;
        text-align: center;
        text-decoration: none;
    }

@media only screen and (max-width: 1000px) {
    .childHeader li{
        padding: 0 20px;
    }
    
}

.childHeader a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

    .childHeader a:hover {
        text-decoration: none;
        color: #c1c8d4;
    }

.childHeader button {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    transition: all 0.3s ease 0s;
}

    .childHeader button:hover {
        text-decoration: none;
        color: #c1c8d4;
    }

.childFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: #1C3879;
    margin-left: 10%;
    margin-right: 10%;
    border-top-right-radius: 5vh;
    border-top-left-radius: 5vh;
    opacity: 100%;
    position: fixed;
    bottom: 0;
}

    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 70px;
        text-align: center;
        text-decoration: none;
    }


@media only screen and (max-width: 1000px) {
    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
    }
}

#add {
    background: #FF7A59;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: static;
}

body {
    background-color: #e4ebf7;
    font-family: Verdana;
    font-weight: 600;
}

a {
    font-size: 50px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}


.notificationBox {
    display: none;
    flex-direction: column;
    height: 70vh;
    width: 60vh;
    background-color: white;
    border: solid 2px black;
    margin-top: 20vh;
    position: absolute;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    .notificationBox {
        display: none;
        flex-direction: column;
        height: 60vh;
        width: 40vh;
        background-color: white;
        border: solid 2px black;
        margin-top: 20vh;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    .notificationContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        height: 60vh;
        width: 40vh;
    }
}

.notificationTitle {
    margin-top: 1vh;
    margin-bottom: 4vh;
}

.notificationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 90vh;
    width: 50vh;
}

.notification label {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    padding: 5px;
}

#closeNotifiBtn {
    padding: 15px;
    margin-top: 5vh;
    cursor: pointer;
    background-color: #FF7A59;
    border: solid 1px black;
    border-radius: 10%;
    width: 100px;
    margin-bottom: 5vh;
    color: white;
    transition: all 0.3s ease 0s;
}

    #closeNotifiBtn:hover {
        color: #c1c8d4;
    }

/* flex layout MyTeam */
.parentMyTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.childTeamContainer {
    display: flex;
    padding: 15px;
    margin: 5vh;
    font-size: 20px;
    line-height: 20px;
    flex-direction: row;
    cursor: pointer;
}

.childTeamMember {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #4c90fc;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.childTeamSuggestion {
    margin-left: 1%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #4c90fc;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
}

.childTeamImprovement {
    margin-left: 2%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #4c90fc;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.childTeamType {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #4c90fc;
    border-radius: 20%;
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width: 1030px) {
    .childTeamContainer {
        display: flex;
        padding: 15px;
        margin: 5vh;
        font-size: 20px;
        line-height: 20px;
        flex-direction: column;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .childTeamMember {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: #4c90fc;
        padding: 15px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .childTeamSuggestion {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: #4c90fc;
        padding: 15px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .childTeamImprovement {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: #4c90fc;
        padding: 15px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .childTeamType {
        display: flex;
        margin-top: 7vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: #4c90fc;
        border-radius: 50%;
        padding: 4vh;
        margin-left: 40%;
        margin-right: 40%;
    }
}




/* flex Profile */
.parentProfile {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 5vh;
    flex-direction: row
}

.card {
    display: flex;
    width: 60vh;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
}

.cardPicture {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 100vh;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.cardHeader {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5vh;
}

.cardProfileInfo {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2vh;
}

    .cardProfileInfo label {
        font-weight: normal;
    }

#statisticBtn {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #FF7A59;
}

    #statisticBtn h3 {
        font-weight: bold;
        color: white;
        transition: all 0.3s ease 0s;
        padding: 10px;
    }

        #statisticBtn h3:hover {
            font-weight: bold;
            color: #c1c8d4;
        }

@media only screen and (max-width: 1000px) {
    .cardPicture {
        display: flex;
        height: 250px;
        width: 250px;
        border-radius: 100vh;
        border: 2px solid black;
        background-position: center;
        background-size: cover;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
    }

    .cardHeader {
        font-size: 3.5rem;
        text-align: center;
        padding-bottom: 0.5vh;
    }

    .cardProfileInfo p {
        font-size: 1.5rem;
        text-align: center;
    }

    #statisticBtn h3 {
        font-weight: bold;
        color: white;
        transition: all 0.3s ease 0s;
        padding: 20px;
        font-size: 30px;
    }
}



.statisticBox {
    display: none;
    flex-direction: column;
    height: 70vh;
    width: 100vh;
    background-color: white;
    border: solid 2px black;
    position: absolute;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}

.statisticTitle {
    margin-top: 1vh;
    margin-bottom: 4vh;
}

.statisticContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 90vh;
    width: 90vh;
    border: solid 1px black;
}

#closeStatBtn {
    padding: 15px;
    margin-top: 5vh;
    cursor: pointer;
    background-color: #FF7A59;
    border: solid 1px black;
    border-radius: 10%;
    width: 100px;
    margin-bottom: 5vh;
    color: white;
    transition: all 0.3s ease 0s;
}

    #closeStatBtn:hover {
        color: #c1c8d4;
    }






/* flex MySuggestion */
.parentMySuggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* flex submitSuggestion*/
.parentSubmitSuggestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.context {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    width: 10vh;
    height: 10vh;
    padding-bottom: 15vh;
    padding-top: 5vh;
}

.contextSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    width: 10vh;
    height: 10vh;
    padding-bottom: 15vh;
    padding-top: 10vh;
}

#childSubmit1 {
    background-color: #4c90fc;
    padding: 10px;
    flex: 50%;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 10vh;
    height: 60vh;
    display: block;
}

#childSubmit2 {
    background-color: #4c90fc;
    padding: 10px;
    flex: 50%;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 10vh;
    height: 60vh;
    display: none;
}

#childSubmit3 {
    background-color: #4c90fc;
    padding: 10px;
    flex: 50%;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 10vh;
    height: 60vh;
    display: none;
}

#childSubmit4 {
    background-color: #4c90fc;
    padding: 10px;
    flex: 50%;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 10vh;
    height: 60vh;
    display: none;
}

#childSubmit5 {
    background-color: #4c90fc;
    padding: 10px;
    flex: 50%;
    margin-left: 50vh;
    margin-right: 50vh;
    margin-top: 10vh;
    height: 60vh;
    display: none;
}

.allbtn {
    background: none;
    border: none;
    margin-top: 20vh;
    cursor: pointer;
}

.next1 {
    float: right;
    margin-right: 5vh;
}

.back1 {
    float: left;
    margin-left: 5vh;
    visibility: hidden;
}

.next2 {
    float: right;
    margin-right: 5vh;
}

.back2 {
    float: left;
    margin-left: 5vh;
}

.next3 {
    float: right;
    margin-right: 5vh;
}

.back3 {
    float: left;
    margin-left: 5vh;
}

.next4 {
    float: right;
    margin-right: 5vh;
}

.back4 {
    float: left;
    margin-left: 5vh;
}

.next5 {
    float: right;
    margin-right: 5vh;
}

.back5 {
    float: left;
    margin-left: 5vh;
}

i:hover {
    color: #c1c8d4;
    transition: 0.3s;
}

.circleNav {
    height: 40px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    border: solid 0.1px grey;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
}

.active {
    background-color: #8AEA50;
}

.activeSend {
    color: white;
    transition: 0.3s;
}

    .activeSend:hover {
        color: #FF7A59;
    }

.used {
    background-color: #E5E7E9;
}
