

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content {
    flex-grow: 1;
}

.childHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-image: image();
    border-bottom: solid 1px black;
    width: 100%;
}

    .childHeader li {
        list-style: none;
        display: inline-flex;
        padding: 0 100px;
        text-align: center;
        text-decoration: none;
        color: black;
    }

@media only screen and (max-width: 1000px) {
    .childHeader li {
        padding: 0 60px;
    }
}

.childHeader a {
    text-decoration: none;
    transition: all 0.3s ease;
}

    .childHeader a:hover {
        text-decoration: none;
        color: white;
    }

.childHeader button {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    transition: all 0.3s ease 0s;
}

    .childHeader button:hover {
        text-decoration: none;
        color: lightgrey;
    }

.childFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-image: url();
    border-top: solid 1px black;
    position: fixed;
    margin-top: auto;
    bottom: 0;
    margin: 0;
    width: 100%;
}

    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 70px;
        text-align: center;
        text-decoration: none;
    }


@media only screen and (max-width: 1000px) {
    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 50px;
        text-align: center;
        text-decoration: none;
    }

    .header li {
    }
}

.fa {
    font-size: 40px;
    color: black;
}

button i {
    font-size: 50px;
    color: black;
    transition: 0.3s ease;
}

    button i:hover {
        color: lightgrey;
    }

button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

    button:hover {
        color: lightgrey;
    }

#add {
    background: #FF7A59;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: static;
}

a {
    font-size: 50px;
}

p {
    font-weight: bold;
}

label {
    font-weight: lighter;
}

h1 {
    font-size: 50px;
}


.notificationBox {
    display: none;
    flex-direction: column;
    height: 70vh;
    width: 60vh;
    background-color: white;
    border: solid 2px black;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .notificationBox {
        display: none;
        flex-direction: column;
        height: 60vh;
        width: 40vh;
        background-color: white;
        border: solid 2px black;
        margin-top: 20vh;
        position: absolute;
        align-items: center;
        justify-content: center;
    }

    .notificationContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        height: 60vh;
        width: 40vh;
    }
}

.notificationTitle {
    margin-top: 1vh;
    margin-bottom: 4vh;
}

.notificationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 90vh;
    width: 50vh;
}

.notification label {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    padding: 5px;
}

#closeNotifiBtn {
    padding: 15px;
    margin-top: 5vh;
    cursor: pointer;
    background-color: #FF7A59;
    border: solid 1px black;
    border-radius: 10%;
    width: 100px;
    margin-bottom: 5vh;
    color: white;
    transition: all 0.3s ease 0s;
}

    #closeNotifiBtn:hover {
        color: #c1c8d4;
    }

#cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.cardPicture {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
}

.cardHeader {
    margin-top: 1vh;
}

    .cardHeader label {
        font-size: 40px;
        font-weight: bold;
    }

.showMyStats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    width: 45vh;
    margin-top: 4vh;
    background-color: grey;
}

.stats {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 40vh;
    background-color: white;
}
