
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.content {
    flex-grow: 1;
}

.childHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-image: image();
    border-bottom: solid 1px black;
    margin-left: 5vh;
}

    .childHeader li {
        list-style: none;
        display: inline-flex;
        padding: 0 100px;
        text-align: center;
        text-decoration: none;
        color: black;
    }

@media only screen and (max-width: 1000px) {
    .childHeader li {
        padding: 0 60px;
    }
}

.childHeader a {
    text-decoration: none;
    transition: all 0.3s ease;
}

    .childHeader a:hover {
        text-decoration: none;
        color: white;
    }

.childHeader button {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    transition: all 0.3s ease 0s;
}

    .childHeader button:hover {
        text-decoration: none;
        color: lightgrey;
    }

.childFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-image: url();
    border-top: solid 1px black;
    position: fixed;
    margin-top: auto;
    bottom: 0;
    margin: 0;
    width: 100%;
}

    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 70px;
        text-align: center;
        text-decoration: none;
    }


@media only screen and (max-width: 1000px) {
    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 50px;
        text-align: center;
        text-decoration: none;
    }

    .header li {
    }
}

.fa {
    font-size: 40px;
    color: black;
}

button i {
    font-size: 50px;
    color: black;
    transition: 0.3s ease;
}

    button i:hover {
        color: lightgrey;
    }

button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

    button:hover {
        color: lightgrey;
    }

#add {
    background: #FF7A59;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: static;
}

a {
    font-size: 50px;
}

p {
    font-weight: bold;
    font-family: courier new;
}

label {
    font-weight: lighter;
    font-family: courier new;
}

h1 {
    font-size: 50px;
}

#cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.cardPicture {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
}

.cardHeader {
    margin-top: 1vh;
}

    .cardHeader label {
        font-size: 40px;
        font-weight: bold;
    }

.showMyStats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    width: 45vh;
    margin-top: 4vh;
    background-color: grey;
}

.stats {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 40vh;
    background-color: white;
}

.activePage {
    color: lightgrey;
}

.profileUpload {
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 5vh;
    width: 15vh;
    margin-top: 10vh;
    opacity: 40%;
    font-weight: bold;
}

    .profileUpload:hover {
        opacity: 100%;
        height: 6vh;
        color: black;
    }
