
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.childHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-image: image();
    border-bottom: solid 1px black;
  
}

    .childHeader li {
        list-style: none;
        display: inline-flex;
        padding: 0 100px;
        text-align: center;
        text-decoration: none;
        color: black;
    }

.childHeader a {
    text-decoration: none;
    transition: all 0.3s ease;
}

    .childHeader a:hover {
        text-decoration: none;
        color: white;
    }

.childHeader button {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    transition: all 0.3s ease 0s;
}

    .childHeader button:hover {
        text-decoration: none;
        color: lightgrey;
    }

.childFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-image: url();
    border-top: solid 1px black;
    position: fixed;
    margin-top: auto;
    bottom: 0;
    margin: 0;
    width: 100%;
}

    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 70px;
        text-align: center;
        text-decoration: none;
    }


.fa-sign-out {
    font-size: 40px;
    color: black;
    rotate: 180deg;
}

.fa-sign-out a:hover{
    color: lightgrey;
}

button i {
    font-size: 50px;
    color: black;
    transition: 0.3s ease;
}

    button i:hover {
        color: lightgrey;
    }

button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

    button:hover {
        color: lightgrey;
    }

#add {
    background: #FF7A59;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: static;
}

a {
    font-size: 50px;
}

p {
    font-weight: bold;
    font-family: courier new;
}

label {
    font-weight: lighter;
    font-family: courier new;
}

h1 {
    font-size: 50px;
}

#cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.cardPicture {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
}

.cardHeader {
    margin-top: 1vh;
}

    .cardHeader label {
        font-size: 40px;
        font-weight: bold;
    }

.showMyStats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    width: 45vh;
    margin-top: 4vh;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 40vh;
    background-color: white;
}

.activePage {
    color: lightgrey;
}

.profileUpload {
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 5vh;
    width: 15vh;
    margin-top: 10vh;
    opacity: 40%;
    font-weight: bold;
}

    .profileUpload:hover {
        opacity: 100%;
        height: 6vh;
        color: black;
    }

    .present {
        width: 205px;
        margin: 0 auto;
      }
      .box, .lid {
        background:
          -webkit-radial-gradient(white 15%, transparent 15.1%),
          -webkit-radial-gradient(white 15%, transparent 15.1%),
        rgb(240, 58, 58);
        background-position: 0 0, 12.5px 12.5px;
        background-size: 25px 25px;
        position: relative;
        margin: 0 auto;
      }
      .box {
        width: 200px;
        height: 125px;
      }
      .lid {
        width: 200px;
        height: 35px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0 2px;
        background-color: rgb(216, 52, 52);
        /* transitions */
        top: 0;
        left: 0;
        transition: 
          top ease-out 0.5s,
          left ease-out 0.5s,
          transform ease-out 0.5s;
      }
      .box span, .lid span {
        position: absolute;
        display: block;
        background: rgba(30, 241, 48, 0.8);
        box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
      }
      .box span:first-child {
        width: 100%;
        height: 30px;
        top: 40px;
      }
      .box span:last-child, .lid span {
        width: 30px;
        height: 100%;
        left: 85px;
      }
      .lid span {
        left: 86px;
      }
      .promo {
        font-size: 15px;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        position: relative;
        height: 0;
        top: 5px;
        transition: all ease-out 0.7s;
      }
      .promo p {
        font-size: 12px;
        margin: 0;
      }
      .promo h2 {
        font-size: 20px;
        margin: 0;
      }
      
      /* hover effects */
      .present:hover .lid {
        top: -50px;
        transform: rotateZ(10deg);
        left: 5px;
      }
      .present:hover .promo {
        top: -40px;
      }


@media only screen and (max-width: 1000px) {
    .childFooter li {
        list-style: none;
        display: inline-flex;
        padding: 0 50px;
        text-align: center;
        text-decoration: none;
    }

    .childHeader li {
        padding: 0 60px;
    }
}