@{
   ViewBag.Title = "Hjem § NSS";
   Layout = "~/Views/Shared/_BaseNoFooterLayout.cshtml";
 }

    <div class="cardContainer">
        <div id="notificationBox" class="notificationBox" style="margin-top:60vh;">
            <div class="notificationTitle">
                <h1>Notifikasjoner</h1>
            </div>
            <div class="notificationContainer">
                <div class="notification">
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                </div>
            </div>
            <button id="closeNotifiBtn" type="button"><h3>Lukk</h3></button>
        </div>
    </div>

    <div style="height:90%; text-align:center; align-items:center; display:flex; justify-content:center; flex-direction:column; padding-top: 20px;">
      
        @using (Html.BeginForm("Index", "SubmitPage"))
        {
            <input type="submit" value="Nytt Forslag" />
        }
        @using (Html.BeginForm("MySuggestions", "Suggestion"))
        {
            <input type="submit" value="Mine Forslag" />
        }
        @using (Html.BeginForm("MyTeam", "AccountPages"))
        {
            <input type="submit" value="Mitt Team" />
        }
        @using (Html.BeginForm("Feed", "Suggestion"))
        {
            <input type="submit" value="Feed" />
        }
        @using (Html.BeginForm("Index", "AdministratorMenu"))
        {
            <input type="submit" value="Administrer" />
        }
        @using (Html.BeginForm("Index", "Home"))
        {
            <input type="submit" value="Søk" />
        }
    </div>



    <script type="text/javascript">//get the modal and opacity view id

        var notifiModal = document.getElementById("notificationBox");
        var childHeader = document.getElementById("childHeader");
        var childFooter = document.getElementById("childFooter");
        //get the button id
        var notiBtn = document.getElementById("notificationBtn");
        var closeNotifiBtn = document.getElementById("closeNotifiBtn");

        //function for notifications view
        notiBtn.onclick = function () {
            notifiModal.style.display = "flex";
            childHeader.style.opacity = "50%";
            childFooter.style.opacity = "50%";
        }

        closeNotifiBtn.onclick = function () {
            notifiModal.style.display = "none";
            childHeader.style.opacity = "100%";
            childFooter.style.opacity = "100%";
        }
        </script>
