@{
    ViewData["Title"] = "Navigation Page";
}
<head>

</head>
<body>
    <form style="height:90%; text-align:center; align-items:center; display:flex; justify-content:center; flex-direction:column; padding-top: 20px;">
        <input type="submit" value="Home" onclick="@Url.Action("RedirectToHome","NavigationPage")" />
        <button class="button buttonmenu" style="width:30%; height:40px; margin:5px;">Nytt Forslag</button>
        <button class="button buttonmenu" style="width:30%; height:40px; margin:5px;">Mine Forslag</button>
        <button class="button buttonmenu" style="width:30%; height:40px; margin:5px;">Mitt Team</button>
        <button class="button buttonmenu" style="width:30%; height:40px; margin:5px;">Oversikt</button>
        <button class="button buttonmenu" style="width:30%; height:40px; margin:5px;">Administrer</button>
        <button class="button buttonmenu" style="width:30%; height:40px; margin:5px;">Søk i Forslag</button>
    </form>
</body>
