@{
    ViewData["Title"] = "Suggestion Page Five";
}

<body class="SuggestionContent">
    <style>
        body {
            text-align: center;
        }
    </style>
    <h1>Oppsummering</h1>
    <h3>Detaljer</h3>
    <label for="">Problem</label> <textarea readonly></textarea> <br>
    <label for="">Løsning</label> <textarea readonly></textarea>  <br>
    <label for="">Mål</label> <textarea readonly></textarea>  <br>

    <h2>Tidspunkt</h2>
    <form class="" action="" method="post">
        <input type="date" name="" value="" readonly>
        <input type="time" name="" value="" readonly>
    </form>
    <h2>Bilder lastet opp</h2>
    <form class="" action="" method="post">
        <label for="">--------</label>
    </form>

    <br> <br> <br>
    @using (Html.BeginForm("SuggestionOne", "SuggestionPage"))
    {
        <input type="submit" name="" value="Send inn">
    }
    @using (Html.BeginForm("SuggestionFour", "SuggestionPage"))
    {
        <input type="submit" name="" value="Tilbake">
    }

</body>

