@{
    ViewData["Title"] = "Suggestion Page Four";
}

<body>
    <style>
        body {
            text-align: center;
        }
    </style>
    <h1>Hva er målet?</h1> <br><br>
    <textarea name="" rows="8" cols="50">Skriv her...</textarea> <br><br>
    <h3>Når skal forbedringen <br> ferdigstilles?</h3> <br>
    <input type="time" name="" value="">
    <input type="date" name="" value=""> <br><br>

    @using (Html.BeginForm("SuggestionFive", "SuggestionPage"))
    {
        <input type="submit" name="" value="Neste">
    }
    @using (Html.BeginForm("SuggestionThree", "SuggestionPage"))
    {
        <input type="submit" name="" value="Tilbake">
    }


</body>

