@{
    ViewData["Title"] = "Locked out";
    ViewBag.Title = "NSS | Lock Out";
}

<header>
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
