@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using NordicDoorSuggestionSystem.Entities
@using NordicDoorSuggestionSystem.Models.Account
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}
@{
    ViewBag.Title = "NSS | Login";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<div class="containerLogIn">
    <div class="boxContainerLogIn">
        <center>
            <div class="LoginHeader">
                <h1>NordicDoors</h1>
            </div>

            <div class="loginContent">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">


                    <div class="form-group">
                        <!--<label asp-for="EmployeeNumber" class="col-md-2 control-label"></label>-->
                        <div class="col-md-10">
                            <input asp-for="EmployeeNumber" class="form-control" placeholder="AnsattNr.." /> <br />
                            <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label asp-for="Password" class="col-md-2 control-label"></label>-->
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" placeholder="Passord.." /> <br />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>

