@using NordicDoorSuggestionSystem.Models.Account
@model RegisterViewModel
@{
    Layout ="~/Views/Shared/_users.cshtml";
}
<br>
<br>
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Legg til ny bruker</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="EmployeeNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EmployeeNumber" class="form-control" />
            <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form group">
        <label asp-for="RoleSelected" class="col-md-2"></label>
        <div class="col-md-10">
            <select asp-for="RoleSelected" asp-items="@Model.RoleList" class="form-control">
                <option disabled selected>- Kontotype -</option>
            </select>
        </div>
    </div>
    <br>
        <div class="form-group">
            <input type="submit" value="Oprett bruker" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}