@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Profil § NSS";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}


<center>
    <div id="cardContainer" class="cardContainer">
        <div class="card">
            <div class="cardPicture">
                <i class="fa fa-user" style="font-size:75px; color: grey;"></i>
                <button class="profileUpload" type="button" name="button">Nytt bilde</button>

            </div>
            <div class="cardHeader">
                <label>Per Skaugum</label>
            </div>
            <div class="cardProfileInfo">
                <p>Ansatt nr: <label>un-identified</label> </p>
                <p>Stilling: <label>un-identified</label> </p>
                <p>Team: <label>un-identified</label> </p>
            </div>
            <div class="showMyStats">
                <h2>Statistikk</h2>
                <center>
                    <div class="stats">

                    </div>
                </center>
            </div>
        </div>
    </div>
</center>




