@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Profil § NSS";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}


  
    <center>
        <div id="notificationBox" class="notificationBox">
            <div class="notificationTitle">
                <h1>Notifikasjoner</h1>
            </div>
            <div class="notificationContainer">
                <div class="notification">
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                    <label>Notifikasjon</label>
                </div>
            </div>
            <button id="closeNotifiBtn" type="button"><h3>Lukk</h3></button>
        </div>
    </center>
    <center>
        <div id="cardContainer" class="cardContainer">
            <div class="card">
                <div class="cardPicture">
                    <i class="fa fa-user" style="font-size:75px; color: grey;"></i>
                </div>
                <div class="cardHeader">
                    <label>Per Skaugum</label>
                </div>
                <div class="cardProfileInfo">
                    <p>Ansatt nr: <label>un-identified</label> </p>
                    <p>Stilling: <label>un-identified</label> </p>
                    <p>Team: <label>un-identified</label> </p>
                </div>
                <div class="showMyStats">
                    <h2>Statistikk</h2>
                    <center>
                        <div class="stats">

                        </div>
                    </center>
                </div>
            </div>
        </div>
  
</center>


<script type="text/javascript">//get the modal and opacity view id

    var notifiModal = document.getElementById("notificationBox");
    var childHeader = document.getElementById("childHeader");
    var childFooter = document.getElementById("childFooter");
    var cardContainer = document.getElementById("cardContainer");
    //get the button id

    var notiBtn = document.getElementById("notificationBtn");
    var closeNotifiBtn = document.getElementById("closeNotifiBtn");


    //function for notifications view

    notiBtn.onclick = function () {
        notifiModal.style.display = "flex";
        cardContainer.style.display = "none";
    }

    closeNotifiBtn.onclick = function () {
        notifiModal.style.display = "none";
        cardContainer.style.display = "flex";
    }</script>



