@{
    Layout = null;
 }
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <style>
        .body{
                text-decoration: none;
                background-image: url('https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;');
                background-repeat: none;
                background-attachment: fixed;
                background-size: cover;
            }
    </style>
    
    <h1>NORDIC DOOR</h1>
    <a asp-controller="ProfilePage" asp-action="Index" class="fa fa-user-circle" aria-hidden="true"></a>
    <div class= "NavContainer0">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="Create">Nytt Forslag</a>
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="MySuggestions">Mine forslag</a>
                <i class="fa fa-user" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer1">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="Index">Alle forslag</a>
                <i class="fa fa-server" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer3">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountPages" asp-action="MyTeam">Mitt Team</a>
                <i class="fa fa-users" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer2">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="ShowStatisticsData">Statistikk</a>
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer4">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="Index">Administration - admin only</a>
                <i class="" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</body>
</html>