@{
    Layout = null;
 }
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
         <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <h1>NORDIC DOOR</h1>
    <div class= "NavContainer0">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="Create">Nytt Forslag</a>
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="MySuggestions">Mine forslag</a>
                <i class="fa fa-user" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer1">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="Index">Alle forslag</a>
                <i class="fa fa-server" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer3">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="AccountPages" asp-action="MyTeam">Mitt Team</a>
                <i class="fa fa-users" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class= "NavContainer2">
        <ul>
            <li class = "NavLink">
                <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="ShowStatisticsData">Vis Statistikk</a>
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</body>
</html>