@{
    ViewData["Title"] = "NordicDoor Loginn";
}

<div class="text-center">
    <h1 class="display-4">LogIn</h1>
    <div>
        <form>
            <ul>
                <li>
                    <form action="" method="post">
                        <label for="Ansattnummer">Ansatt nummer</label><br>
                        <input type="text" id="Ansattnummer" name="Ansattnummer"><br>
                        <label for="password">Passord</label><br>
                        <input type="password" id="password" password="password"><br>
                        <input type="submit" value="Logg inn">
                    </form>
                </li>
            </ul>
        </form>
    </div>
</div>
