@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Send inn § NSS";
    Layout = "~/Views/Shared/_BaseNoFooterLayout.cshtml";

}

<div id="childSubmit1">
    <button id="next1" type="button" class="next1 allbtn"><i class="fa fa-angle-right" style="font-size:50px"></i></button>
    <button id="" type="button" class="back1 allbtn"><i class="fa fa-angle-right" style="font-size:50px"></i></button>
    <center>
        <h1>Skriv tittel</h1> <br>
        <div class="context">
            <input type="text" name="" value="" placeholder="Tittel..">
            <h3 style="padding-top: 10px;">Ansvarlig</h3>
            <label for=""> Meg<input type="checkbox" name="" value=""> Andre<input type="checkbox" name="" value=""> </label>


        </div>
    </center>
    <center>
        <span class="circleNav active" style="font-weight: lighter">1</span>
        <span class="circleNav" style="font-weight: lighter">2</span>
        <span class="circleNav" style="font-weight: lighter">3</span>
        <span class="circleNav" style="font-weight: lighter">4</span>
        <span class="circleNav"><i class="fa fa-paper-plane"></i></span>
    </center>
</div>
<div id="childSubmit2">
    <button id="next2" type="button" class="next2 allbtn"><i class="fa fa-angle-right" style="font-size:50px"></i></button>
    <button id="back2" type="button" class="back2 allbtn"><i class="fa fa-angle-left" style="font-size:50px"></i></button>

    <center>
        <h1>Skriv problem</h1> <br>
        <div class="context">
            <label> <textarea name="name" rows="6" cols="40" placeholder="Problemstilling"></textarea></label> <br>
        </div>
    </center>
    <center>
        <span class="circleNav used" style="font-weight: lighter">1</span>
        <span class="circleNav active" style="font-weight: lighter">2</span>
        <span class="circleNav" style="font-weight: lighter">3</span>
        <span class="circleNav" style="font-weight: lighter">4</span>
        <span class="circleNav"><i class="fa fa-paper-plane"></i></span>
    </center>
</div>
<div id="childSubmit3">
    <button id="next3" type="button" class="next3 allbtn"><i class="fa fa-angle-right" style="font-size:50px"></i></button>
    <button id="back3" type="button" class="back3 allbtn"><i class="fa fa-angle-left" style="font-size:50px"></i></button>
    <center>
        <h1>Skriv løsning</h1> <br>
        <div class="context">
            <label> <textarea name="name" rows="6" cols="60" placeholder="Løsning.."></textarea> </label>
        </div>
    </center>

    <center>
        <span class="circleNav used" style="font-weight: lighter">1</span>
        <span class="circleNav used" style="font-weight: lighter">2</span>
        <span class="circleNav active" style="font-weight: lighter">3</span>
        <span class="circleNav" style="font-weight: lighter">4</span>
        <span class="circleNav"><i class="fa fa-paper-plane"></i></span>
    </center>
</div>
<div id="childSubmit4">
    <button id="next4" type="button" class="next4 allbtn"><i class="fa fa-angle-right" style="font-size:50px"></i></button>
    <button id="back4" type="button" class="back4 allbtn"><i class="fa fa-angle-left" style="font-size:50px"></i></button>
    <center>
        <h1>Hva er målet</h1> <br>
        <div class="context">
            <label>
                <textarea name="name" rows="10" cols="40" placeholder="Løsning.."></textarea> <br>
                Dato for ferdigstilling: <input type="date" name="" value="">
            </label>
        </div>
    </center>

    <center>
        <span class="circleNav used" style="font-weight: lighter">1</span>
        <span class="circleNav used" style="font-weight: lighter">2</span>
        <span class="circleNav used" style="font-weight: lighter">3</span>
        <span class="circleNav active" style="font-weight: lighter">4</span>
        <span class="circleNav"><i class="fa fa-paper-plane"></i></span>
    </center>
</div>
<div id="childSubmit5">
    <button id="next5" type="button" class="next5 allbtn"><i class="fa fa-paper-plane activeSend" style="font-size:50px"></i></button>
    <button id="back5" type="button" class="back5 allbtn"><i class="fa fa-angle-left" style="font-size:50px"></i></button>
    <center>
        <h1></h1> <br>
        <div class="contextSummary">
            <input readonly type="text" name="" value="" placeholder="Tittel.."> <br>
            <h3 style="padding-top: 10px;">Ansvarlig</h3>
            <label for=""> Meg<input readonly type="checkbox" name="" value=""> Andre<input readonly type="checkbox" name="" value=""> </label>
            <label><input readonly type="text" name="" value="" placeholder="Problemstilling.."></label>
            <label> <textarea readonly name="name" rows="6" cols="40" placeholder="Løsning.."></textarea> </label>
            <label>
                <textarea readonly name="name" rows="6" cols="40" placeholder="Løsning.."></textarea> <br>
                Dato for ferdigstilling: <input readonly type="date" name="" value="">
            </label>
        </div>
    </center>

    <div id="notificationBox" class="notificationBox">
        <div class="notificationTitle">
            <h1>Notifikasjoner</h1>
        </div>
        <div class="notificationContainer">
            <div class="notification">
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
                <label>Notifikasjon</label>
            </div>
        </div>
        <button id="closeNotifiBtn" type="button"><h3>Lukk</h3></button>
    </div>





    <script type="text/javascript">// Get the view id
        var sub1 = document.getElementById("childSubmit1");
        var sub2 = document.getElementById("childSubmit2");
        var sub3 = document.getElementById("childSubmit3");
        var sub4 = document.getElementById("childSubmit4");
        var sub5 = document.getElementById("childSubmit5");

        // Get the button id
        var nxt1 = document.getElementById("next1");
        var nxt2 = document.getElementById("next2");
        var nxt3 = document.getElementById("next3");
        var nxt4 = document.getElementById("next4");
        var nxt5 = document.getElementById("next5");

        //Get the backbutton
        var bc2 = document.getElementById("back2");
        var bc3 = document.getElementById("back3");
        var bc4 = document.getElementById("back4");
        var bc5 = document.getElementById("back5");

        // When user clicks the button, new view
        nxt1.onclick = function () {
            sub1.style.display = "none";
            sub2.style.display = "block";
        }

        nxt2.onclick = function () {
            sub2.style.display = "none";
            sub3.style.display = "block";
        }
        bc2.onclick = function () {
            sub2.style.display = "none";
            sub1.style.display = "block";
        }

        nxt3.onclick = function () {
            sub3.style.display = "none";
            sub4.style.display = "block";
        }
        bc3.onclick = function () {
            sub3.style.display = "none";
            sub2.style.display = "block";
        }

        nxt4.onclick = function () {
            sub4.style.display = "none";
            sub5.style.display = "block";
        }
        bc4.onclick = function () {
            sub4.style.display = "none";
            sub3.style.display = "block";
        }

        nxt5.onclick = function () {
        }
        bc5.onclick = function () {
            sub5.style.display = "none";
            sub4.style.display = "block";
        }

        //get the modal and opacity view id

        var notifiModal = document.getElementById("notificationBox");
        var childHeader = document.getElementById("childHeader");
        var childFooter = document.getElementById("childFooter");
        //get the button id
        var notiBtn = document.getElementById("notificationBtn");
        var closeNotifiBtn = document.getElementById("closeNotifiBtn");

        //function for notifications view
        notiBtn.onclick = function () {
            notifiModal.style.display = "flex";
            childHeader.style.opacity = "50%";
            childFooter.style.opacity = "50%";
        }

        closeNotifiBtn.onclick = function () {
            notifiModal.style.display = "none";
            childHeader.style.opacity = "100%";
            childFooter.style.opacity = "100%";
        }</script>


